#### common
tmp
rdflint-problems.yml

#### Node
dist
node_modules
yarn-debug.log*
yarn-error.log*

#### Fuseki
fuseki/jar
fuseki/lib
fuseki/bin

fuseki/run/backups
fuseki/run/configuration
fuseki/run/system
fuseki/run/system_files
fuseki/run/logs
fuseki/run/templates
fuseki/run/databases/*
!fuseki/run/databases/.keep

#### Gradle
.gradle
